@import "./App.css";

#carousel{
    width:80%;
    margin:5% auto 0 auto;
   
}

.carousel-inner {
    border-radius: 5px 5px 0px 0px;
}

.org_headers{
    background:var(--gray);
    border:none;
    margin-bottom:10px;
    color:var(--leather);
   
}

.d-block{
    height:600px;
}

.descriptions{
    height:500px;
    background:linear-gradient(var(--blue),white);
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-right:50px;
    padding-left:50px;
}

